#menu-list{
    #img{
        margin: 0px 0px;
    }
}
.social-icons{
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    a{
        color: #0f8611;
        padding: 10px;
    }
    a:hover{
        color: #69ca6a;
    }
}

